.afterHeading {
    padding-top: 8px;
}

.click {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0;
}

.bubble {
    display: flex;
    justify-content: center;
}

.rightWrapper, .leftWrapper {
    position: relative;

}

.leftGraphics {
    max-width: 34px;
    bottom: 20px;
    left: -20px;
    display: none;
}

.rightGraphics {
    max-width: 34px;
    top: -36px;
    right: -20px;
}

@media screen and (min-width: 576px) {
    .rightGraphics {
        max-width: 44px;
        top: -40px;
    }

    .leftGraphics {
        display: block;
    }
}

@media screen and (min-width: 767px) {

    .rightCol {
        padding-left: 40px;
    }

    .rightGraphics {
        max-width: initial;
        top: -60px;

    }

    .appScreenshots > div {
        width: 50%;
    }

    .clicks {
        display: flex;
        /*align-items: center;*/
        justify-content: space-between;
    }
    .clicks > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .click {
        padding: 50px 0 50px 152px;
        position: relative;
        display: block;
    }

    .image {
        position: absolute !important;
        top: 30px;
        left: 0;
        margin: 0;
    }

    .rightCol .image {
        top: 12px;
    }
}

@media screen and (min-width: 1300px) {
    .leftGraphics {
        max-width: initial;
        bottom: 50px;
        left: -60px;
    }
}