.afterHeading {
    padding-top: 8px;
}

.click {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image {
    margin: 20px 0;
}

.bubble {
    display: flex;
    justify-content: center;
}

.appScreenshots {
    padding: 40px 0;
}

.appScreenshots > * {
    margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
    .appScreenshots {
        display: flex;
        padding: 0;
    }

    .appScreenshots > * {
        margin-bottom: 0;
    }

    .rightWrapper {
        position: relative;
        padding-left: 20px;
    }

    .rightImageWrapper {

        /*position: absolute !important;*/
        /*min-width: 1008px;*/
    }

    .appScreenshots > div {
        width: 50%;
    }

    .clicks {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .click {
        padding: 50px 0 50px 152px;
        position: relative;
        display: block;
    }

    .image {
        position: absolute !important;
        top: 30px;
        left: 0;
        margin: 0;
    }

    .click:nth-child(2) > .image {
        top: 12px;
    }
}