.stepper {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
    .stepper {
        font-size: 0.9rem;
        flex-direction: column-reverse;
    }
    .text {
        margin-top: 10px;
    }
}
@media screen and (max-width: 576px) {
    .stepper {
        font-size: 0.8rem;
    }
}

.currentStep {
    color: #000;
    border-radius: 40px;
    background-color: #ffd858;
    padding: 12px 16px;
    margin-right: 10px;
}

.orderStep {
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    background-color: #004dff;
    border-radius: 40px;
    padding: 5px 28px 5px 5px;
    display: flex;
    align-items: center;
}