.heading {
    position: relative;
    text-align: center;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark-navy);
}

.headingImageLine {
    max-width: 268px;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .headingImageLine {
        max-width: 200px;
    }
}

@media screen and (max-width: 576px) {
    .headingImageLine {
        max-width: 180px;
    }
}