
.heroText {
    padding-top: 28px;
    line-height: 2.4;
    font-weight: 500;
    color: var(--color-dark-grey);
}
@media screen and (max-width: 767px) {
    .heroText {
        line-height: 2.2;
        padding-top: 40px;
    }
}