
.sectionText {
    font-weight: 500;
    color: var(--color-dark-grey);
    text-align: center;
    line-height: 1.5;
}

.textGap p {
    margin-bottom: 28px;
}

@media screen and (max-width: 767px) {
    .textGap p {
        margin-bottom: 14px;
    }
}