.wrapper {
    text-align: center;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    font-weight: 900;
    background-color: var(--color-yellow);
    border-radius: 56px;
    padding: 16px 40px;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin: 0 24px;
}

.label {
    font-size: 3.125rem;
    margin-bottom: 4px;
}

@media screen and (max-width: 992px) {
    .label {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 767px) {
    .button {
        font-size: 0.7rem;
        padding: 12px 20px;
    }

    .label {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 560px) {
    .buttonArrow {
        max-width: 10vw;
    }

    .button {
        margin: 0 8px;
    }
}

@media screen and (max-width: 460px) {
    .buttonArrow {
        display: none !important;
    }

    .button {
        margin: 0;
    }
}