body {
    font-family: "Inter", sans-serif;
    color: #192a4a;
    /*font-size: calc(0.75em + 1vmin);*/
}

@media screen and (max-width: 992px) {
    html {
        font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    html {
        /* Reducing base font size will reduce all rem sizes */
        font-size: 13px;
    }
}