.section {
    background: rgb(237, 248, 255);
    background: linear-gradient(180deg, rgba(237, 248, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);

}

.container {
    padding: 100px 24px 0;
}

.heading {
    position: relative;
    text-align: center;
    font-weight: 900;
}

.subheading {
    text-align: center;
    font-weight: 700;
    padding: 40px 0;
}


@media screen and (max-width: 767px) {
    .subheading {
        padding: 20px 0;
    }
}

.text {
    color: var(--color-dark-grey);
}

p.text:nth-of-type(1) {
    margin-bottom: 30px;
}


.headingImageLine {
    max-width: 268px;
    top: -30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.headingHello {

    right: 6%;
    top: -70px;
}

@media screen and (max-width: 1280px) {
    .headingHello {
        max-width: 120px;
        top: -80px;
    }
}

@media screen and (max-width: 650px) {
    .headingImageLine {
        display: none;
    }
}

.promo {
    color: var(--color-dark-grey);
    font-weight: 500;
    text-align: center;
}

