
.price {
    color: var(--color-dark-navy);
}

.price span {
    color: var(--color-yellow);
}

.videoContainer {
    position: relative;
}

.imgWrapper {
    text-align: center;
}

@media screen and (min-width: 767px) {
    .imgWrapper {
        text-align: right;
    }
}

.videoWrapper {
    position: absolute;
    top: 8%;
    left: 32%;
    width: 38vw;
    height: 26vw;
    background-color: #fff;
}

.videoContainer video {
    max-width: 33vw;
}

@media screen and (min-width: 576px) {
    .videoWrapper {
        width: 41vw;
    }
}

@media screen and (min-width: 767px) {
    .videoContainer video {
        max-width: 36vw;
    }
}

@media screen and (min-width: 992px) {
    .videoWrapper {
        width: 40vw;
        left: 33%;
    }

    .videoContainer video {
        max-width: 37vw;
    }
}

@media screen and (min-width: 1200px) {
    .videoWrapper {
        width: 40vw;
        left: 33%;
    }

    .videoContainer video {
        max-width: 37vw;
    }
}

@media screen and (min-width: 1300px) {
    .videoWrapper {
        width: 470px;
        height: auto;
        left: 36%;
    }

    .videoContainer video {
        max-width: 37vw;
    }
}

.image {
    max-width: 200px;
    margin: 20px 0;
    z-index: 10;
}

.heading {
    color: var(--color-dark-navy);
    text-align: center;
}

@media screen and (min-width: 767px) {
    .image {
        max-width: initial;
        margin: 0;
    }

    .text {
        max-width: 540px;
        text-align: left;
        padding-left: 40px;
    }

    .row {
        margin: 80px 0 50px;
        display: flex;
    }

    .row > * {
        width: 50%;
    }
}

.devicesImgWrapper {
    position: relative;
    overflow: hidden;
}