.card {
    border: 1px solid var(--color-border-grey);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 68px;
    background: #fff;
    -webkit-box-shadow: 10px 10px 19px -3px rgba(171, 168, 171, 0.31);
    -moz-box-shadow: 10px 10px 19px -3px rgba(171, 168, 171, 0.31);
    box-shadow: 10px 10px 19px -3px rgba(171, 168, 171, 0.31);
}

.card:nth-child(odd) {
    flex-direction: row-reverse;
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .card {
        flex-direction: column;
    }

    .card:nth-child(odd) {
        margin-top: 20px;
    }
}

.image {
    position: relative;
    overflow: hidden;
    flex: 1;
    min-width: 350px;
}

.card:nth-child(even) .image {
    border-top-left-radius: 40px;
}

.card:nth-child(odd) .image {
    border-top-right-radius: 40px;
}

@media screen and (max-width: 1300px) {
    .card {
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    .image {
        min-width: 30%;
    }
}

@media screen and (max-width: 767px) {

    .image {
        min-height: 250px;
        max-width: 200px;
    }
}

.image > div {
    position: absolute !important;
    top: -90px;
}

.card:nth-child(even) .image > div {
    left: -120px;
}

.card:nth-child(odd) .image > div {
    right: -120px;
}

@media screen and (max-width: 767px) {
    .image > div {
        top: -94px;
    }

    .card:nth-child(odd) {
        flex-direction: column;
    }

    .card:nth-child(odd) .image {
        align-self: flex-end;
    }

    .card:nth-child(even) .image > div {
        left: -120px;
    }

    .card:nth-child(odd) .image > div {
        right: -120px;
    }
}

@media screen and (max-width: 592px) {
    .image {
        min-height: 164px;
    }

    .image > div {
        max-width: 200px;
        top: -44px;

    }

    .card:nth-child(even) .image > div {
        left: -56px;
    }

    .card:nth-child(odd) .image > div {
        right: -56px;
    }
}

.textWrapper {
    padding: 80px 40px 50px;
}

@media screen and (max-width: 767px) {
    .textWrapper {
        padding: 40px 20px 20px;
    }
}

.heading {
    position: relative;
    font-weight: 900;
    color: var(--color-dark-navy);
}

.lineImage {
    top: -36px;
    left: 0;
}

.content p {
    line-height: 1.5;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .content p {
        margin-top: 10px;
    }
}